<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/v-mask@2.3.0/dist/v-mask.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.6/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.6/dist/validators.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1 class="jumbotron">{{ message }}</h1>
      <div class="col-2">
        <form @submit.prevent="add">
          <label>Nome</label>
          <input
            :class="{ error: submitted && $v.contato.name.$error }"
            v-model="contact.name"
          />
          <div v-if="submitted && $v.contato.name.$error" class="text-red-700">
            <span v-if="!$v.contato.name.required">É necessário seu cpf</span>
          </div>
          <label>Telefone</label>
          <input
            v-mask="'(##)#####-####'"
            :class="{ error: submitted && $v.contato.telephone.$error }"
            type="text"
            v-model="contact.telephone"
          />
          <div
            v-if="submitted && $v.contato.telephone.$error"
            class="text-red-700"
          >
            <span v-if="!$v.contato.telephone.required"
              >É necessário seu cpf</span
            >
          </div>

          <button class="mt-3 mb-3 btn btn-primary" @click="add()">
            Adicionar
          </button>
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in list">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.telephone }}</td>
            <td>
              <button @click="edit(item)" class="btn btn-info">Editar</button>
              <button @click="remove(item)" class="btn btn-danger">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
<script>
  // As a plugin
  Vue.use(VueMask.VueMaskPlugin);

  // Or as a directive
  Vue.directive("mask", VueMask.VueMaskDirective);

  Vue.use(window.vuelidate.default);
  const { required, minLength, numeric } = window.validators;
  new Vue({
    el: "#app",
    data: {
      message: "Agenda Telefônica",
      contact: {
        id: 0,
        name: null,
        telephone: null,
      },
      index: null,
      list: [],
      submitted: false,
    },
    validations: {
      contato: {
        name: {
          required,
          minLength: minLength(4),
        },
        telephone: {
          required,
          numeric,
        },
      },
    },
    mounted() {
      const contacts = JSON.parse(localStorage.getItem("contacts"));
      this.list = contacts ? contacts : [];
    },
    methods: {
      //Todos os campos estando válidos this.$v.$touch() funfa demais
      handleSubmit(e) {
        this.submitted = true;
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }
      },
      add(e) {
        this.submitted = true;
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }

        if (this.contact.id === 0) {
          this.contact.id = this.list.length + 1;
          this.list.push(this.contact);
        } else {
          this.list[this.index] = this.contact;
        }
        localStorage.setItem("contacts", JSON.stringify(this.list));
        this.contact = { id: 0, name: null, telephone: null };
      },

      remove(item) {
        const idx = this.list.indexOf(item);
        this.list.splice(idx, 1);
        localStorage.setItem("contacts", JSON.stringify(this.list));
      },

      edit(item) {
        this.index = this.list.indexOf(item);
        this.contact = Object.assign({}, item);
        localStorage.setItem("contacts", JSON.stringify(this.list));
      },
    },
  });
</script>
